<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/css/commits.css">
</head>

<body>
  <h1>Hello World</h1>
  <div id="commits-container">
    <!-- <div class="commit" data-sha="">
      <div class="author">
      </div>
      <div class="file" data-filename="">
      </div>
      <div class="file" data-filename="">
      </div>
      <div class="file" data-filename="">
      </div>
    </div>
    <div class="commit" data-sha="">
      <div class="author">
      </div>
      <div class="file" data-filename="">
      </div>
      <div class="file" data-filename="">
      </div>
      <div class="file" data-filename="">
      </div>
    </div>
    <div class="commit" data-sha="">
      <div class="author">
      </div>
      <div class="file" data-filename="">
      </div>
      <div class="file" data-filename="">
      </div>
      <div class="file" data-filename="">
      </div>
    </div> -->
  </div>

  <script>
    // function makeClickHandlers() {
    //
    //   var elems_array = document.getElementsByClassName("file"),
    //     i;
    //
    //
    //   for (i = 0; i < elems_array.length; i++) {
    //     elems_array[i].addEventListener("click", highlightSelectedFile(i));
    //   }
    // }
    //
    // function highlightSelectedFile(i) {
    //   return function() {
    //     var arrayOfFileInstances = getAllElementsWithAttribute(attribute);
    //     var j;
    //     for (j = 0; j < arrayOfFileInstances.length; j++)
    //       if (i != j) {
    //         document.getElementsByClassName("")[j].style.display = "none";
    //       } else {
    //         document.getElementsByClassName("")[j].style.display = "block";
    //       }
    //   };
    // }
    //
    // function getAllElementsWithAttribute(attribute) {
    //   var matchingElements = [];
    //   var allElements = document.getElementsByTagName('*');
    //   for (var i = 0, n = allElements.length; i < n; i++) {
    //     if (allElements[i].getAttribute(attribute) !== null) {
    //       matchingElements.push(allElements[i]);
    //     }
    //   }
    //   return matchingElements;
    // }
    //
    //
    //
    //
    // for (var i = 0; i < suggestionList.length; i++) {
    //   if (i !== activeWordIndex) {
    //     suggestionList[i].classList.remove("active");
    //   } else {
    //     suggestionList[i].classList.add("active");
    //   }
  </script>
</body>

</html>
