.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: beige;
  float: left;
}
.file:hover{
  opacity: 0.8;
  transition: opacity 0.3 ease-in-out;
  -webkit-transition: opacity 0.3 ease-in-out;
}
.file {
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.3 ease-in-out;
  -webkit-transition: opacity 0.3 ease-in-out;

}
.commit {
  clear: both;
  float: left;
}

.highlight {
  background-color: rgba(34, 94, 200, 0.4);
  opacity: 0.9;
}

.active {
  background-color: rgba(34, 94, 200, 0.9);
  opacity: 1;
}
